<div class="container">
	<div class="card">
		<h6 class="card-header bg-dark text-white">Quản lý danh mục sản phẩm</h6>
		<div class="card-body">
			<form>
				<div class="form-group">
					<label for="">Mã SP</label>
					<input type="text" class="form-control" #maSP>
				</div>
				<div class="form-group">
					<label for="">Tên SP</label>
					<input type="text" class="form-control" #tenSP>
				</div>
				<div class="form-group">
					<label for="">Giá</label>
					<input type="number" class="form-control" #gia>
				</div>
				<button class="btn btn-success" (click)="addNewProduct(maSP.value, tenSP.value, gia.value)">Thêm sản
					phẩm</button>
			</form>
		</div>
	</div>

	<table class="table mt-5">
		<thead class="thead-dark">
			<tr>
				<th scope="col">STT</th>
				<th scope="col">Mã SP</th>
				<th scope="col">Tên SP</th>
				<th scope="col">Giá</th>
			</tr>
		</thead>
		<tbody *ngFor="let prod of products; index as i">
			<tr [ngClass]="i % 2 == 0 ? 'bg-light' : 'bg-secondary'">
				<th scope="row">{{i + 1}}</th>
				<td>{{prod.maSP}}</td>
				<td>{{prod.tenSP}}</td>
				<td>{{prod.gia}}</td>
			</tr>
		</tbody>
	</table>
</div>